<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filemanager.docwingsbe.mapper.FilesMapper">
    <insert id="insertFiles">
        INSERT INTO files (file_name, parent_id, upload_time,file_size,file_type,uploader_id,last_modifier_id,tag,last_modify_time,is_deleted,path)
        VALUES
        <foreach collection="files" item="item" separator=",">
            (#{item.fileName}, #{item.parentId}, #{item.uploadTime},
            #{item.fileSize}, #{item.fileType}, #{item.uploaderId},
            #{item.lastModifierId}, #{item.tag}, #{item.lastModifyTime},
            #{item.isDeleted}, #{item.path})
        </foreach>
    </insert>
    <insert id="insertFolders">
        INSERT INTO folders (folder_name, parent_id,create_time,creater_id,tag,is_deleted,last_modifier_id,last_modify_time)
        VALUES
        <foreach collection="folders" item="item" separator=",">
            (#{item.folderName}, #{item.parentId},
            #{item.createTime}, #{item.createrId}, #{item.tag},
            #{item.isDeleted}, #{item.lastModifierId}, #{item.lastModifyTime})
        </foreach>
    </insert>
    <insert id="CollectionsInsertFolder">
        insert into collections (folder_id,user_id,is_folder)
        values (#{folderId},#{userId},1);
    </insert>
    <insert id="CollectionsInsertFile">
        insert into collections (file_id,user_id)
        values (#{fileId},#{userId});
    </insert>
    <update id="renameFile">
        UPDATE files
        set file_name = #{fileName}
        WHERE file_id = #{fileId}
    </update>
    <update id="renameFolder">
        UPDATE folders
        set folder_name = #{folderName}
        WHERE folder_id = #{folderId}
    </update>
    <update id="changeFileRouteById">
        UPDATE files
            SET parent_id = #{parentId}
            WHERE file_id = #{id}
    </update>
    <update id="changeFolderRouteById">
        UPDATE folders
            SET parent_id = #{parentId}
            WHERE folder_id = #{id}
    </update>
    <update id="recycleBinFile">
        update files
        set is_deleted = #{status}
        where file_id = #{fileId}
    </update>
    <update id="recycleBinFolder" statementType="CALLABLE">
        {call
            update_node_status(
                    #{folderId},
                    #{status}
            )
        }
    </update>
    <update id="updateParentFolderByFolderId">
        update folders
        set is_deleted = 0
        where folder_id = #{folderId}
    </update>

    <delete id="CollectionsDeleteFolder">
        delete from collections
        where folder_id=#{folderId}
        and user_id=#{userId}
    </delete>
    <delete id="CollectionsDeleteFile">
        delete from collections
        where file_id=#{fileId}
          and user_id=#{userId}
    </delete>
    <delete id="deleteFile">
        delete from files where file_id = #{fileId}
    </delete>
    <delete id="deleteFolder">
        {call
            delete_node(
                    #{folderId}
            )
        }
    </delete>
    <delete id="deleteCollectionsFile">
        delete from collections where file_id = #{fileId}
    </delete>
    <select id="findFileById" resultType="com.filemanager.docwingsbe.entity.Files">
        select * from files where file_id = #{id}
    </select>
    <select id="findFoldersByParentId" resultType="com.filemanager.docwingsbe.entity.multy.FolderPage">
        SELECT
            f.folder_id,
            f.parent_id,
            f.folder_name,
            f.create_time,
            u1.user_name AS creator_name,
            f.tag,
            u2.user_name AS last_modifier_name,
            f.last_modify_time
        FROM folders f
                 JOIN user u1 ON f.creater_id = u1.user_id
                 JOIN user u2 ON f.last_modifier_id = u2.user_id
        WHERE f.parent_id = #{parentId} AND f.folder_id != 0  AND f.is_deleted != 1
    </select>
    <select id="findFilesByParentId" resultType="com.filemanager.docwingsbe.entity.multy.FilesPage">
        SELECT
            f.file_id,
            f.file_name,
            f.tag,
            f.file_size,
            f.file_type,
            u1.user_name AS uploader_name,
            f.upload_time,
            u2.user_name AS last_modifier_name,
            f.last_modify_time
        FROM
            files f
                JOIN
            user u1 ON f.uploader_id = u1.user_id
                JOIN
            user u2 ON f.last_modifier_id = u2.user_id
        WHERE
            f.parent_id = #{parentId} AND f.is_deleted != 1;
    </select>
    <select id="findFolderById" resultType="com.filemanager.docwingsbe.entity.Folders">
        select * from folders where folder_id = #{id}
    </select>
    <select id="countFFsByParentId" resultType="java.lang.Long">
        SELECT
            (SELECT COUNT(*) FROM files WHERE parent_id = #{parentId}) +
            (SELECT COUNT(*) FROM folders WHERE parent_id = #{parentId}) AS total_count;
    </select>

    <select id="countFFsByParentIdUserId" resultType="java.lang.Long">
            SELECT COUNT(*) FROM collections WHERE  user_id = #{userId} ;
    </select>

    <select id="findImagesByParentId" resultType="com.filemanager.docwingsbe.entity.Files">
        SELECT *
        FROM files
        WHERE parent_id = #{parentId}
          AND file_type LIKE 'image/%' AND is_deleted = 0;
    </select>
    <select id="findFileByDelete" resultType="com.filemanager.docwingsbe.entity.multy.FilesPage">
        SELECT
            f.file_id,
            f.file_name,
            f.tag,
            f.file_size,
            f.file_type,
            u1.user_name AS uploader_name,
            f.upload_time,
            u2.user_name AS last_modifier_name,
            f.last_modify_time
        FROM
            files f
                JOIN
            user u1 ON f.uploader_id = u1.user_id
                JOIN
            user u2 ON f.last_modifier_id = u2.user_id
        WHERE
            f.is_deleted = 1;
    </select>
    <select id="findFolderByDelete" resultType="com.filemanager.docwingsbe.entity.multy.FolderPage">
        SELECT
            f.folder_id,
            f.parent_id,
            f.folder_name,
            f.create_time,
            u1.user_name AS creator_name,
            f.tag,
            u2.user_name AS last_modifier_name,
            f.last_modify_time
        FROM folders f
                 JOIN user u1 ON f.creater_id = u1.user_id
                 JOIN user u2 ON f.last_modifier_id = u2.user_id
        WHERE
            f.is_deleted = 1
    </select>
    <select id="findCollectionFFs" resultType="com.filemanager.docwingsbe.entity.Collections">
        select * from collections
        where user_id=#{userId}
    </select>
    <select id="findPathsByFileName" resultType="java.lang.String">
        select path from files where path like concat('%', #{fileName}, '%')
    </select>
    <select id="findCollectionFilesByUserId" resultType="com.filemanager.docwingsbe.entity.multy.FilesPage">
        SELECT
            f.file_id,
            f.file_name,
            f.tag,
            f.file_size,
            f.file_type,
            u1.user_name AS uploader_name,
            f.upload_time,
            u2.user_name AS last_modifier_name,
            f.last_modify_time
        FROM
            files f
                JOIN
            user u1 ON f.uploader_id = u1.user_id
                JOIN
            user u2 ON f.last_modifier_id = u2.user_id
                JOIN
            collections on collections.file_id=f.file_id
        WHERE
             f.is_deleted != 1 AND collections.user_id=#{userId};
    </select>
    <select id="findCollectionFoldersByUserId" resultType="com.filemanager.docwingsbe.entity.multy.FolderPage">
        SELECT
            f.folder_id,
            f.parent_id,
            f.folder_name,
            f.create_time,
            u1.user_name AS creator_name,
            f.tag,
            u2.user_name AS last_modifier_name,
            f.last_modify_time
        FROM folders f
                 JOIN user u1 ON f.creater_id = u1.user_id
                 JOIN user u2 ON f.last_modifier_id = u2.user_id
                JOIN collections on collections.folder_id=f.folder_id
        WHERE f.folder_id != 0  AND f.is_deleted != 1 AND collections.user_id=#{userId}
    </select>
    <select id="findPathByParentId" resultType="java.lang.String">
        select path from files where parent_id = #{parentId}
    </select>
    <select id="findFolderDeleteByParentId" resultType="com.filemanager.docwingsbe.entity.Folders">
        select * from folders where parent_id = #{parentId}
    </select>
    <select id="findTags" resultType="java.lang.String">
        SELECT tag FROM folders WHERE tag IS NOT NULL AND tag != '' AND is_deleted = 0
        UNION
        SELECT tag FROM files WHERE tag IS NOT NULL AND tag != '' AND is_deleted = 0;
    </select>
    <select id="findFilesByTag" resultType="com.filemanager.docwingsbe.entity.multy.FilesPage">
        SELECT
            f.file_id,
            f.file_name,
            f.tag,
            f.file_size,
            f.file_type,
            u1.user_name AS uploader_name,
            f.upload_time,
            u2.user_name AS last_modifier_name,
            f.last_modify_time
        FROM
            files f
                JOIN
            user u1 ON f.uploader_id = u1.user_id
                JOIN
            user u2 ON f.last_modifier_id = u2.user_id
        WHERE
            f.tag = #{tag} AND f.is_deleted != 1;
    </select>
    <select id="findFoldersByTag" resultType="com.filemanager.docwingsbe.entity.multy.FolderPage">
        SELECT
            f.folder_id,
            f.parent_id,
            f.folder_name,
            f.create_time,
            u1.user_name AS creator_name,
            f.tag,
            u2.user_name AS last_modifier_name,
            f.last_modify_time
        FROM folders f
                 JOIN user u1 ON f.creater_id = u1.user_id
                 JOIN user u2 ON f.last_modifier_id = u2.user_id
        WHERE f.tag = #{tag} AND f.folder_id != 0  AND f.is_deleted != 1
    </select>
    <select id="findDocumentFiles" resultType="com.filemanager.docwingsbe.entity.multy.FilesPage">
        SELECT * FROM files
        WHERE is_deleted = 0
          AND (
            file_type = 'application/pdf'
                OR file_type = 'application/msword'
                OR file_type = 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
                OR file_type = 'application/vnd.ms-excel'
                OR file_type = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                OR file_type = 'application/vnd.ms-powerpoint'
                OR file_type = 'application/vnd.openxmlformats-officedocument.presentationml.presentation'
                OR file_type = 'text/plain'
                OR file_type = 'text/html'
            );
    </select>
    <select id="findImageFiles" resultType="com.filemanager.docwingsbe.entity.multy.FilesPage">
        SELECT * FROM files
        WHERE is_deleted = 0 AND file_type LIKE 'image/%';
    </select>
    <select id="findAudioFiles" resultType="com.filemanager.docwingsbe.entity.multy.FilesPage">
        SELECT * FROM files
        WHERE is_deleted = 0 AND file_type LIKE 'audio/%';
    </select>
    <select id="findVideoFiles" resultType="com.filemanager.docwingsbe.entity.multy.FilesPage">
        SELECT * FROM files
        WHERE is_deleted = 0 AND file_type LIKE 'video/%';
    </select>
    <select id="findOtherFiles" resultType="com.filemanager.docwingsbe.entity.multy.FilesPage">
        SELECT * FROM files
        WHERE is_deleted = 0
          AND file_type NOT LIKE 'image/%' AND file_type NOT LIKE 'audio/%' AND file_type NOT LIKE 'video/%'
          AND file_type NOT IN (
                                'application/pdf','application/msword','text/plain','text/html',
                                'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
                                'application/vnd.ms-excel','application/vnd.ms-powerpoint',
                                'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                                'application/vnd.openxmlformats-officedocument.presentationml.presentation'
            );
    </select>
    <select id="findParentFolderByFileId" resultType="java.lang.Long">
        select parent_id from files where file_id = #{fileId}
    </select>
    <select id="findParentFolderByFolderId" resultType="java.lang.Long">
        select parent_id from folders where folder_id = #{folderId}
    </select>
    <select id="countFileSize" resultType="java.lang.Double">
        SELECT SUM(file_size) AS total_file_size_bytes
        FROM files
        WHERE is_deleted = 0;
    </select>
    <select id="countTrashFileSize" resultType="java.lang.Double">
        SELECT SUM(file_size) AS total_file_size_bytes
        FROM files
        WHERE is_deleted = 1;
    </select>
    <select id="findImagesByCollection" resultType="com.filemanager.docwingsbe.entity.Files">
        SELECT f.*
        FROM files f
                 JOIN collections c ON f.file_id = c.file_id
        WHERE f.is_deleted = 0
          AND c.user_id = #{userId}
          AND f.file_type LIKE 'image/%';
    </select>

</mapper>