<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filemanager.docwingsbe.mapper.FilesMapper">
    <insert id="insertFiles">
        INSERT INTO files (id, file_name, file_size)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.file_name}, #{item.parent_id}, #{item.upload_time},
             #{item.file_size}, #{item.file_type}, #{item.uploader_id},
             #{item.last_modifier_id}, #{item.tag}, #{item.last_modify_time},
             #{item.is_deleted}, #{item.path})
        </foreach>
    </insert>
    <select id="findFileById" resultType="com.filemanager.docwingsbe.entity.Files">
        select * from files where file_id = #{id}
    </select>
    <select id="findFoldersByParentId" resultType="com.filemanager.docwingsbe.entity.multy.FolderPage">
        SELECT
            f.folder_id,
            f.parent_id,
            f.folder_name,
            f.create_time,
            u1.user_name AS creator_name,
            f.tag,
            u2.user_name AS last_modifier_name,
            f.last_modify_time
        FROM folders f
                 JOIN user u1 ON f.creater_id = u1.user_id
                 JOIN user u2 ON f.last_modifier_id = u2.user_id
        WHERE f.parent_id = #{parentId} AND f.folder_id != 0
    </select>
    <select id="findFilesByParentId" resultType="com.filemanager.docwingsbe.entity.multy.FilesPage">
        SELECT
            f.file_id,
            f.file_name,
            f.tag,
            f.file_size,
            f.file_type,
            u1.user_name AS uploader_name,
            f.upload_time,
            u2.user_name AS last_modifier_name,
            f.last_modify_time
        FROM
            files f
                JOIN
            user u1 ON f.uploader_id = u1.user_id
                JOIN
            user u2 ON f.last_modifier_id = u2.user_id
        WHERE
            f.parent_id = #{parentId};
    </select>
    <select id="findFolderById" resultType="com.filemanager.docwingsbe.entity.Folders">
        select * from folders where folder_id = #{id}
    </select>
</mapper>