<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filemanager.docwingsbe.mapper.FilesMapper">
    <insert id="insertFiles">
        INSERT INTO files (file_name, parent_id, upload_time,file_size,file_type,uploader_id,last_modifier_id,tag,last_modify_time,is_deleted,path)
        VALUES
        <foreach collection="files" item="item" separator=",">
            (#{item.fileName}, #{item.parentId}, #{item.uploadTime},
             #{item.fileSize}, #{item.fileType}, #{item.uploaderId},
             #{item.lastModifierId}, #{item.tag}, #{item.lastModifyTime},
             #{item.isDeleted}, #{item.path})
        </foreach>
    </insert>
    <update id="renameFile">
        UPDATE files
        set file_name = #{fileName}
        WHERE file_id = #{fileId}
    </update>
    <update id="renameFolder">
        UPDATE folders
        set folder_name = #{folderName}
        WHERE folder_id = #{folderId}
    </update>
    <select id="findFileById" resultType="com.filemanager.docwingsbe.entity.Files">
        select * from files where file_id = #{id}
    </select>
    <select id="findFoldersByParentId" resultType="com.filemanager.docwingsbe.entity.multy.FolderPage">
        SELECT
            f.folder_id,
            f.parent_id,
            f.folder_name,
            f.create_time,
            u1.user_name AS creator_name,
            f.tag,
            u2.user_name AS last_modifier_name,
            f.last_modify_time
        FROM folders f
                 JOIN user u1 ON f.creater_id = u1.user_id
                 JOIN user u2 ON f.last_modifier_id = u2.user_id
        WHERE f.parent_id = #{parentId} AND f.folder_id != 0
    </select>
    <select id="findFilesByParentId" resultType="com.filemanager.docwingsbe.entity.multy.FilesPage">
        SELECT
            f.file_id,
            f.file_name,
            f.tag,
            f.file_size,
            f.file_type,
            u1.user_name AS uploader_name,
            f.upload_time,
            u2.user_name AS last_modifier_name,
            f.last_modify_time
        FROM
            files f
                JOIN
            user u1 ON f.uploader_id = u1.user_id
                JOIN
            user u2 ON f.last_modifier_id = u2.user_id
        WHERE
            f.parent_id = #{parentId};
    </select>
    <select id="findFolderById" resultType="com.filemanager.docwingsbe.entity.Folders">
        select * from folders where folder_id = #{id}
    </select>
    <select id="countFFsByParentId" resultType="java.lang.Long">
        SELECT
            (SELECT COUNT(*) FROM files WHERE parent_id = #{parentId}) +
            (SELECT COUNT(*) FROM folders WHERE parent_id = #{parentId}) AS total_count;
    </select>
</mapper>