<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filemanager.docwingsbe.mapper.ShareMapper">
    <insert id="insertShare">
        INSERT INTO `shares`
            (`file_id`, `folder_id`, `sharer_id`, `auth`, `share_time`, `due_time`, `accepter_id`, `accept_group_id`, `is_folder`)
        VALUES
            (IF(#{share.fileId} = -2, NULL, #{share.fileId}),
             IF(#{share.folderId} = -2, NULL, #{share.folderId}),
             #{share.sharerId},
             #{share.auth},
             #{share.shareTime},
             IF(#{share.dueTime} = #{share.shareTime}, NULL, #{share.dueTime}),
             IF(#{share.accepterId} = -2, NULL, #{share.accepterId}),
             IF(#{share.acceptGroupId} = -2, NULL, #{share.acceptGroupId}),
             #{share.isFolder})
    </insert>
    <update id="updateShare">
        update shares
        set
            auth = #{share.auth},
            due_time = IF(#{share.dueTime} = #{share.shareTime}, NULL, #{share.dueTime}),
            accepter_id = IF(#{share.accepterId} = -2, NULL, #{share.accepterId}),
            accept_group_id = IF(#{share.acceptGroupId} = -2, NULL, #{share.acceptGroupId})
        where share_id = #{share.shareId}
    </update>
    <delete id="deleteShareByShareId">
        delete from shares where share_id = #{shareId}
    </delete>
    <select id="getSharesByUserId" resultType="com.filemanager.docwingsbe.entity.multy.SharePage">
        SELECT
            s.share_id AS 'shareId',
            s.file_id AS 'fileId',
            f.file_name AS 'fileName',
            s.folder_id AS 'folderId',
            fo.folder_name AS 'folderName',
            s.sharer_id AS 'sharerId',
            us_sharer.user_name AS 'sharerName',
            s.auth AS 'auth',
            s.share_time AS 'shareTime',
            s.due_time AS 'dueTime',
            s.accepter_id AS 'accepterId',
            us_accepter.user_name AS 'accepterName',
            s.accept_group_id AS 'acceptGroupId',
            us_acceptgroup.group_name AS 'acceptGroupName',
            s.is_folder AS 'isFolder',
            f.file_type AS 'fileType'
        FROM
            shares s
                LEFT JOIN
            files f ON s.file_id = f.file_id
                LEFT JOIN
            folders fo ON s.folder_id = fo.folder_id
                JOIN
            user us_sharer ON s.sharer_id = us_sharer.user_id
                LEFT JOIN
            user us_accepter ON s.accepter_id = us_accepter.user_id
                LEFT JOIN
            usergroup us_acceptgroup ON s.accept_group_id = us_acceptgroup.group_id
        WHERE
            s.sharer_id = #{userId}
    </select>
    <select id="getAllShares" resultType="com.filemanager.docwingsbe.entity.multy.SharePage">
        SELECT
            s.share_id AS 'shareId',
                s.file_id AS 'fileId',
                f.file_name AS 'fileName',
                s.folder_id AS 'folderId',
                fo.folder_name AS 'folderName',
                s.sharer_id AS 'sharerId',
                us_sharer.user_name AS 'sharerName',
                s.auth AS 'auth',
                s.share_time AS 'shareTime',
                s.due_time AS 'dueTime',
                s.accepter_id AS 'accepterId',
                us_accepter.user_name AS 'accepterName',
                s.accept_group_id AS 'acceptGroupId',
                us_acceptgroup.group_name AS 'acceptGroupName',
                s.is_folder AS 'isFolder',
                f.file_type AS 'fileType'
        FROM
            shares s
                LEFT JOIN
            files f ON s.file_id = f.file_id
                LEFT JOIN
            folders fo ON s.folder_id = fo.folder_id
                JOIN
            user us_sharer ON s.sharer_id = us_sharer.user_id
                LEFT JOIN
            user us_accepter ON s.accepter_id = us_accepter.user_id
                LEFT JOIN
            usergroup us_acceptgroup ON s.accept_group_id = us_acceptgroup.group_id
    </select>
    <select id="countSharesByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM shares WHERE  sharer_id = #{userId}
    </select>
    <select id="getSharesByShareId" resultType="com.filemanager.docwingsbe.entity.multy.SharePage">
        SELECT
            s.share_id AS 'shareId',
            s.file_id AS 'fileId',
            f.file_name AS 'fileName',
            s.folder_id AS 'folderId',
            fo.folder_name AS 'folderName',
            s.sharer_id AS 'sharerId',
            us_sharer.user_name AS 'sharerName',
            s.auth AS 'auth',
            s.share_time AS 'shareTime',
            s.due_time AS 'dueTime',
            s.accepter_id AS 'accepterId',
            us_accepter.user_name AS 'accepterName',
            s.accept_group_id AS 'acceptGroupId',
            us_acceptgroup.group_name AS 'acceptGroupName',
            s.is_folder AS 'isFolder',
            f.file_type AS 'fileType'
        FROM
            shares s
                LEFT JOIN
            files f ON s.file_id = f.file_id
                LEFT JOIN
            folders fo ON s.folder_id = fo.folder_id
                JOIN
            user us_sharer ON s.sharer_id = us_sharer.user_id
                LEFT JOIN
            user us_accepter ON s.accepter_id = us_accepter.user_id
                LEFT JOIN
            usergroup us_acceptgroup ON s.accept_group_id = us_acceptgroup.group_id
        WHERE
            s.share_id = #{shareId}
    </select>
    <select id="getShareByUserIdGroupId" resultType="com.filemanager.docwingsbe.entity.multy.SharePage">
        SELECT
            s.share_id AS 'shareId',
            s.file_id AS 'fileId',
            f.file_name AS 'fileName',
            s.folder_id AS 'folderId',
            fo.folder_name AS 'folderName',
            s.sharer_id AS 'sharerId',
            us_sharer.user_name AS 'sharerName',
            s.auth AS 'auth',
            s.share_time AS 'shareTime',
            s.due_time AS 'dueTime',
            s.accepter_id AS 'accepterId',
            us_accepter.user_name AS 'accepterName',
            s.accept_group_id AS 'acceptGroupId',
            us_acceptgroup.group_name AS 'acceptGroupName',
            s.is_folder AS 'isFolder',
            f.file_type AS 'fileType'
        FROM
            shares s
                LEFT JOIN
            files f ON s.file_id = f.file_id
                LEFT JOIN
            folders fo ON s.folder_id = fo.folder_id
                JOIN
            user us_sharer ON s.sharer_id = us_sharer.user_id
                LEFT JOIN
            user us_accepter ON s.accepter_id = us_accepter.user_id
                LEFT JOIN
            usergroup us_acceptgroup ON s.accept_group_id = us_acceptgroup.group_id
        WHERE
            s.accepter_id = #{userId} OR s.accept_group_id = #{groupId}
    </select>
    <select id="getDownloadCount" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM logs
        WHERE act LIKE "下载%分享Id为${shareId},文件Id为${fileId}%";
    </select>
    <select id="getDownloadCountByShareId" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM logs
        WHERE act LIKE "下载%分享Id为${shareId},%";
    </select>
</mapper>