<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filemanager.docwingsbe.mapper.ShareMapper">
    <insert id="insertShare">
        INSERT INTO `shares`
            (`file_id`, `folder_id`, `sharer_id`, `auth`, `share_time`, `due_time`, `accepter_id`, `is_folder`)
        VALUES
            (IF(#{share.fileId} = -2, NULL, #{share.fileId}),
             IF(#{share.folderId} = -2, NULL, #{share.folderId}),
             #{share.sharerId},
             #{share.auth},
             #{share.shareTime},
             IF(#{share.dueTime} = #{share.shareTime}, NULL, #{share.dueTime}),
             IF(#{share.accepterId} = -2, NULL, #{share.accepterId}),
             #{share.isFolder})
    </insert>
    <select id="getSharesByUserId" resultType="com.filemanager.docwingsbe.entity.multy.SharePage">
        SELECT
            s.share_id AS 'shareId',
            s.file_id AS 'fileId',
            f.file_name AS 'fileName',
            s.folder_id AS 'folderId',
            fo.folder_name AS 'folderName',
            s.sharer_id AS 'sharerId',
            us_sharer.user_name AS 'sharerName',
            s.auth AS 'auth',
            s.share_time AS 'shareTime',
            s.due_time AS 'dueTime',
            s.accepter_id AS 'accepterId',
            us_accepter.user_name AS 'accepterName',
            s.is_folder AS 'isFolder',
            f.file_type AS 'fileType'
        FROM
            shares s
                LEFT JOIN
            files f ON s.file_id = f.file_id
                LEFT JOIN
            folders fo ON s.folder_id = fo.folder_id
                JOIN
            user us_sharer ON s.sharer_id = us_sharer.user_id
                LEFT JOIN
            user us_accepter ON s.accepter_id = us_accepter.user_id
        WHERE
            s.sharer_id = #{userId}
    </select>
    <select id="countSharesByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM shares WHERE  sharer_id = #{userId}
    </select>
</mapper>