<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filemanager.docwingsbe.mapper.UserGroupMapper">
    <update id="updateAuth">
        update usergroup
        set auth = #{auth}
        where group_id = #{groupId}
    </update>
    <update id="updateGroupName">
        update usergroup
        set group_name = #{groupName}
        where group_id = #{groupId}
    </update>
    <delete id="deleteUserGroupByGroupId">
        delete from usergroup
        where group_id=#{groupId}
    </delete>

    <select id="findAllUserGroups" resultType="com.filemanager.docwingsbe.entity.Usergroup">
        SELECT * FROM usergroup
    </select>
    <select id="findUserGroupByName" resultType="com.filemanager.docwingsbe.entity.Usergroup">
        SELECT * FROM usergroup WHERE group_name = #{name}
    </select>
</mapper>