<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filemanager.docwingsbe.mapper.UserMapper">
    <update id="UpdatePassword">
        update user
        set psw=SHA2(#{newPassword},256)
        where user_id=#{userId}
    </update>
    <update id="UpdateEmail">
        update user
        set email=#{newEmail}
        where user_id=#{userId}
    </update>
    <update id="UpdatePhone">
        update user
        set phone=#{newPhone}
        where user_id=#{userId}
    </update>
    <delete id="UserDelete">
        delete from user
        where user_id=#{userId}
    </delete>
    <delete id="UserCollectionDelete">
        delete from collections
        where user_id=#{userId};
    </delete>
    <select id="loginVerification" resultType="com.filemanager.docwingsbe.entity.User">
        SELECT * FROM docwingsdb.user WHERE user_name = #{userName} AND psw = SHA2(#{password},256)
    </select>
    <select id="selectUserByUserName" resultType="java.lang.String">
        select user_name from docwingsdb.user where user_name = #{userName}
    </select>
    <insert id="insertUser" parameterType="User" keyProperty="userId" useGeneratedKeys="true">
        insert into user(user_name,psw,email,group_id,is_admin,phone) values
            (#{user.userName},#{user.psw},#{user.email},#{user.groupId},#{user.isAdmin},#{user.phone})
    </insert>
</mapper>